<br>
<br>

<div class="border">
  <button class="btn btn-md btn-outline-primary" (click)="open(content)" >
    <i class="fa fa-user"></i> New User</button>
</div>

<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Full name of the user</th>
      <th>Username</th>
      <th>Roles</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td><span>{{user.id}}</span></td>
      <td><span>{{user.fullName}}</span></td>
      <td><span>{{user.username}}</span></td>
      <td *ngFor="let role of user.roles"><span>{{role.name}}</span></td>
      <td>
        <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, user)">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, user)">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, user)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!--Add New -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <div class="input-group">
          <input id="fullName" class="form-control" >
        </div>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group">
          <input id="username" name="username" class="form-control" ngModel>
        </div>
      </div>

      <div>
        <label for="Password">Password</label>
        <div class="input-group">
          <input id="Password" class="form-control" >
        </div>
      </div>

      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="modal.close('Save click')">Submit</button>
      </div>

    </form>
  </div>
</ng-template>


<!--Details-->
<ng-template #contentDetails let-modal>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nameUser">Full Name</label>
        <div class="input-group">
          <input id="nameUser" class="form-control" >
        </div>
      </div>

      <div class="form-group">
        <label for="usernameUser">Username</label>
        <div class="input-group">
          <input id="usernameUser" class="form-control">
        </div>
      </div>

<!--      <div class="form-group">-->
<!--        <label>Roles</label>-->
<!--        <div class="input-group" *ngFor="let role of selectUser.roles">-->
<!--          <input id="{{role.name}}" class="form-control" >-->
<!--        </div>-->
<!--      </div>-->

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>

<!--Edit-->
<ng-template #contentEdit let-modal>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <div class="input-group">
          <input formControlName="fullName" class="form-control" >
        </div>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group">
          <input formControlName="username" class="form-control">
        </div>
      </div>

      <div>
        <label for="password">Password</label>
        <div class="input-group">
          <input formControlName="password" class="form-control" >
        </div>
      </div>

      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="onSave()" >Save Changes</button>
      </div>

    </form>
  </div>
</ng-template>

<!--Delete-->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
